*{
	padding:0px;
	margin:0px;
	font-family:san-serif;
}
body{
    background-color: #ebebeb;
    font-size: 14px;
}
.login_box{
	width:80%;
	margin:auto;
	margin-top:5%;
	background-color: #fff;
	border: 1px solid #a4a1a1;
	background-image: url(loginbg.gif);
    background-repeat: no-repeat;
	padding: 2em;
	height:auto;
	}

.first_row .left_box,.second_row .right_box{
	background-color: rgba(140, 150, 140, 0.22);
	width: 80%;
	height: auto;
	text-align: center;
	margin: auto;
	padding:20px;
	margin-top:10px;
}


.form_control
{	
	display: block;
	width: 90%;
	height: 34px;
	padding: 3px 6px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	margin: auto;
	box-sizing: border-box;
	margin-top: 10px;
}
 .button {
	background-color: #5cb85c;
	border-color: #4cae4c;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 8px;
	border: none;
	color: #fff;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
.button:hover {
	background:green;
	cursor:pointer;
}
.cancel{
	background-color: #d74a4a !important;
	border-color: #4cae4c !important;
	
}
.cancel a{
		text-decoration:none;
		color:#fff;

}
.cancel:hover {
	text-decoration:underline;
	cursor:pointer;
}
.link{
	margin: auto;
	margin:10px;
	padding:10px 20px;
	border-radius:8px;
	text-decoration:none;
}
.link:hover{
	text-decoration:underline;
}
#forget_email{
	width:30%;
	margin:auto;
	margin-top:2%;
}
